.Rproj.user
archive/
data/VCG/
data/LSPv1_default_inputfiles
data/surfacedata
data/archive/
data_processed
resources/
results/
writing/
src/archive/
src/.Rdata
src/.Rhistory
src/FATES_INCLINE.Rproj
